<%= form_with(model: daily_report, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :work_date, '作業日' %>
    <%= form.date_field :work_date %>
  </div>

  <%= form.nested_fields_for :work_items do |ff| %>
    <%= render 'work_item_fields', f: ff %>
  <% end %>
  <%= form.add_nested_fields_link :work_items, '作業項目を追加' %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
