<%= form_with(model: daily_report, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <%= form.label :date, "作業日" %>
  <%= form.date_field :date %>

  <div id="work-items">
    <%= form.fields_for :work_items do |work_item_fields| %>
      <%= render 'work_item_fields', f: work_item_fields %>
    <% end %>
  </div>

  <%= link_to '作業項目を追加', '#', id: 'add-work-item', class: 'btn btn-primary' %>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
