<%= form_with(model: daily_report, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :work_date, '作業日' %>
    <%= form.date_field :work_date %>
  </div>

  <%= form.fields_for :work_items do |work_item_fields| %>
    <%= render 'work_item_fields', work_item_fields: work_item_fields %>
  <% end %>

  <%= link_to_add_fields '作業項目を追加', form, :work_items %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
