<%= form_with(model: daily_report, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :work_date, '作業日' %>
    <%= form.date_field :work_date %>
  </div>
  <div>
    <%= form.label :category, '業務分類' %>
    <%= form.text_field :category %>
  </div>
  <div>
    <%= form.label :task, '作業項目' %>
    <%= form.text_field :task %>
  </div>
  <div>
    <%= form.label :work_hours, '作業時間' %>
    <%= form.number_field :work_hours %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
