<%= form_with(model: daily_report, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :work_date, '作業日' %>
    <%= form.date_field :work_date %>
  </div>

  <div id="work-items">
    <%= form.fields_for :work_items do |ff| %>
      <%= render 'work_item_fields', f: ff %>
    <% end %>
  </div>
  <%= link_to_add_association '作業項目を追加', form, :work_items, partial: 'work_item_fields', data: {association_insertion_node: '#work-items', association_insertion_method: :append} %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
