<div>
  <%= f.label :category, '業務分類' %>
  <%= f.text_field :category %>
</div>
<div>
  <%= f.label :task, '作業項目' %>
  <%= f.text_field :task %>
</div>
<div>
  <%= f.label :work_hours, '作業時間' %>
  <%= f.number_field :work_hours %>
</div>
